* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Mukta", sans-serif;
}

/* General Styles */

.container {
  max-width: 1150px;
  width: 97%;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  white-space: nowrap;
  border-radius: 40px;
  text-decoration: none;
}

.btn.more {
  background-color: #9792e4;
  color: white;
  padding: 3px 35px;
}

img {
  display: block;
}

.img-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 40px;
}

.features-card {
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
}

/* Nav Styles */
.nav-top {
  background-color: #0084fd;
  height: 65px;
}

.nav-top .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-top ul {
  display: none;
}

.burger {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* First section */

.container.column {
  display: flex;
  flex-direction: column;
}

.column .features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b5ddff;
}

.features-card.big {
  padding-bottom: 0;
}

.big-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column .features-card h2 {
  color: #0084fd;
}

.column .features-card h2,
p,
.app-store {
  margin-bottom: 20px;
}

.btn.app-store {
  background-color: #0084fd;
  color: white;
  padding: 0.3rem 3rem;
}

.phone img {
  max-width: 100%;
}

.features-icon {
  font-size: 80px;
  color: #0084fd;
}

.violet {
  background-color: #9792e4;
  margin-top: 30px;
  padding: 30px;
}

.violet-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.violet-left h2 {
  align-self: flex-start;
  margin-bottom: 30px;
  font-size: 30px;
}

.violet-left img {
  max-width: 100%;
  padding: 60px 0;
}

.violet .img-card {
  background-color: white;
  color: black;
}

.violet .img-card img {
  max-width: 100%;
}

.violet .img-card p {
  font-style: italic;
  text-align: center;
}

.circle {
  background-color: #9792e4;
  border-radius: 20em;
  padding: 7px 15px;
}

.circle a {
  color: black;
}

.container.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.container.partners h2 {
  color: #9792e4;
  margin: 30px 0;
  text-align: center;
  font-size: 35px;
}

.container.partners > p {
  text-align: center;
}

.partners .img-card {
  background-color: #9792e4;
  color: white;
  padding: 40px 15px;
  margin-bottom: 40px;
}

.pro-img {
  width: 100%;
}

.partners .img-card img {
  width: 100%;
  clip-path: circle();
  margin-bottom: 20px;
}

.credit {
  text-align: center;
}

.qm {
  font-size: 20px;
}

.name {
  font-weight: bold;
  font-size: 1.3em;
}

.violet.no-pad {
  padding: 0;
  padding-bottom: 30px;
}
.violet.no-pad h2 {
  color: white;
  font-size: 2.4em;
  text-align: center;
  padding-top: 20px;
}

/* In questa sezione ho voluto provare a ottenere lo stesso effetto senza usare Media Query, dato che hanno detto che meglio utilizzarle quando strettamente necessario. Sembrerebbe ottenere lo stesso risultato con flex, ma gradirei sapere se è corretto oppure no.*/
.container.features-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 10px;
}

.features-card.white {
  background-color: white;
  flex: 1 1 30%;
  max-height: 380px;
  min-width: 255px;
}

.features-card.white .num {
  font-size: 70px;
  font-weight: bold;
  color: #9792e4;
  margin: -35px 0;
}

.features-card.white h3 {
  color: #9792e4;
  margin: 20px 0;
}

.about-us {
  padding-bottom: 30px;
}
.about-us-left h2 {
  color: #9792e4;
  font-size: 40px;
  margin: 20px 0;
}

.about-us-left p {
  line-height: 2.6rem;
}

.about-us-right {
  color: #9792e4;
}

.about-us-right .about-position {
  padding-top: 30px;
  max-width: 60%;
  position: relative;
  align-items: flex-start;
}

.about-us-right img {
  width: 100%;
  clip-path: circle();
  margin-bottom: 20px;
}

.about-us-right p {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.3em;
}

.absolute {
  font-size: 80px;
  position: absolute;
  top: 20px;
  right: -15px;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  color: white;
  text-align: center;
}

.light {
  font-weight: lighter;
  opacity: 0.5;
  padding: 20px 0;
}

.simple {
  font-size: 30px;
}

.orange {
  font-size: 70px;
  color: orange;
}

.white-link {
  color: white;
}

.btn.cta {
  background-color: white;
  color: #9792e4;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 90px;
  margin-bottom: 30px;
}

footer {
  background-color: #333333;
  padding-top: 40px;
}

@media screen and (min-width: 400px) {
  .container.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .big-left {
    align-items: flex-start;
  }

  .column .features-card.big {
    align-items: flex-start;
    flex: 2 1 calc(60% + 10px);
  }

  .column .features-card {
    flex: 1 1 30%;
  }
  .phone {
    align-self: flex-end;
  }
  .phone img {
    max-width: 60%;
  }

  .partners .img-card {
    display: flex;
    flex-direction: row;
  }

  .credit {
    text-align: left;
  }

  .about-us {
    display: flex;
    gap: 70px;
  }

  .about-us-left {
    flex: 2 1 75%;
  }

  .about-us-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1 1 25%;
  }

  .about-us-right .about-position {
    max-width: 80%;
  }
}

@media screen and (min-width: 811px) {
  /* Nav Styles */
  .nav-top ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
  }

  .nav-top li {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .nav-top a {
    text-decoration: none;
  }

  .nav-top .nav-link {
    display: flex;
    align-items: center;
    color: white;
    height: 100%;
    padding: 0 1rem;
    margin: 0 1rem;
  }

  .btn.nav-btn {
    color: black;
    background-color: white;
    padding: 0.5rem;
  }

  .burger {
    display: none;
  }

  .features-card.big {
    flex-direction: row;
  }

  .phone {
    display: flex;
    align-self: flex-end;
    justify-content: center;
  }
  .phone img {
    max-width: 80%;
    margin-bottom: 0;
  }

  .violet .violet-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-end;
    padding: 0 150px;
  }
  .violet-left {
    flex: 1 1 50%;
  }

  .violet-left img {
    max-width: 80%;
    padding: 60px 0;
  }

  .img-card {
    flex: 1 1 50%;
    max-width: 340px;
  }

  .img-card img {
    max-width: 60%;
  }

  .partners .img-card {
    max-width: 100%;
  }
  .pro-img {
    flex: 1 1 50%;
  }
}
